.bannerSabores {
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
}

.bannerSabores figure img {
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
}

figure {
    position: relative;
}

.legendaSorvete {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.legendaSorvete span {
    font-size: 5rem;
    font-weight: bold;
    color: #FFF;
}